body{
  margin:0;
}
#ourStory{
  background-image:url('../images/4.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100vh;
  opacity:.75;
}
img{
  width:400px;
  height:300px;
}
